
/* Main stuff */

body
{
	font-family: Verdana, Sans-Serif;
}

h1, h2, h3, h4, h5
{
	color: Maroon;
}

ul
{
	list-style-type: square;
	padding-left: 1.5em;
}

ul.spaced > li
{
	margin-bottom: 1ex;
}

pre
{
	padding-top: .9em;
	padding-bottom: .9em;
	padding-left: 1em;
	border: none;
	border-left: solid 1px #EEE6D4;
	border-top: solid 1px #EEE6D4;
	border-bottom: solid 1px #EEE6D4;
	width: 3em;
	clear: right;
}

tt
{
	font-style: italic;
}

a 
{
	color: Maroon;
	font-style: normal;
}

a:visited
{
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

h2 > a:hover, h3 > a:hover, h4 > a:hover, h5 > a:hover
{
	text-decoration: none;
}

td
{
	vertical-align: top;
}

dt
{
	margin-top: 1ex;
	font-style: italic;
	color: Maroon;
}


/* Main flow */

div.all
{
	margin-left: 20%;
	margin-right: 10%;
	max-width: 40em;
}


/* Breadcrumbs */

div.nav
{
	height: 4ex;
	font-size: x-small;
	text-transform: lowercase;
}

div.nav a
{
	color: Maroon;
	text-decoration: none;
}


div.nav a:hover, div.nav a:active
{
	text-decoration: underline;
}


/* Document title */

div.title
{
	margin-top: 1ex;
}

div.title h1
{
	font-size: x-large;
	font-weight: normal;
	margin-bottom: 1.5ex;
	padding-top: 0;
	padding-bottom: 0;
	border-bottom: dotted 1px maroon;
}

.nofirefox
{
	font-size: x-small;
	color: red;
	float: right;
	width: 10em;
}

div > p.nofirefox
{
	display: none;
}


/* Strong headings */

div.content h2, div.content h3
{
	font-weight: normal;
}

div.content h2
{
	margin-top: 2em;
	margin-left: -7em;
	width: 26em;
	border-bottom: dotted 1px Maroon;
	font-size: large;
}

div.content h3
{
	margin-top: 1.5em;
	font-size: 1.2;
	font-style: italic;
}

p.startofcontent + h2, p.startofcontent + h3
{
	display: none;
}


/* Margin headings */

div.content h4, div.content h5
{
	margin-left: -5em;
	float: left;
	width: 9em;
	overflow: hidden;
	margin-top: 0;
	font-size: medium;
	font-weight: normal;
	text-align: right;
}

div.content > h4, div.content > h5
{
	margin-left: -11em;
	width: 10em;
}

div.content h4 
{
	font-style: italic;
}


/* Footer */

div.footer
{
	margin-top: 3em;
	border-top: dotted 1px maroon;
	color: maroon;
	font-size: x-small;
}

div.footer p 
{
	margin-top: .5em;
}


/* News */

div.news
{
	float: right;
	width: 12em;
	margin-left: 1em;
	margin-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
	border: solid 1px #EEE6D4;
	background: #FEF6E4;
}

div.news h2, div.news h3
{
	margin-left: auto;
	float: none;
	width: auto;
	margin-top: auto;
	font-size: medium;
	text-align: left;
}

div.news h2
{
	margin-top: 0;
	font-size: medium;
	font-weight: normal;
	display: none;
}

div.news h3
{
}


/* Contents */

div.contents
{
	float: right;
	width: 12em;
	margin-left: 1em;
	padding-left: 1em;
	border-left: dotted 1px maroon;
	margin-bottom: 1em;
}

div.contents ul
{
	list-style-type: square;
	padding-left: 2em;
	font-size: x-small;
	color: maroon;
	margin-top: 0;
	margin-bottom: 0;
}

div.contents a
{
	color: maroon;
	text-decoration: none;
}

div.contents a:hover, a:active
{
	text-decoration: underline;
}


/* General */

.when
{
	font-size: x-small;
	font-style: italic;
	color: Maroon;
}

.printonly
{
	display: none;
}


/* Java */

span.j-bkg /* background */
{
}

span.j-lin /* line numbers */
{
}

span.j-blk /* block comment */
{
	color: green;
	font-style: italic;
}

span.j-cmt /* line comment */
{
	color: green;
	font-style: italic;
}

span.j-key /* keyword */
{
	/* font-weight:bold; */
	color: maroon;
}

span.j-str /* string constants */
{
	color: blue;
}

span.j-chr /* char constants */
{
	color: blue;
}

span.j-num /* number constants */
{
}

span.j-sym /* symbols, punctuation */
{
}

span.j-typ /* primitive types */
{
	color: maroon;
}

span.j-def /* default; all the rest */
{
}

span.j-jdoc /* javadoc */
{
	color: steelblue;
}

span.j-jdoc-key /* javadoc keyword */
{
	color: steelblue;
	font-weight: bold;
}

span.j-jdoc-html /* javadoc html tag */
{
	color: steelblue;
	font-style: italic;
}

span.j-jdoc-link /* javadoc link */
{
	color: steelblue;
	font-style: italic;
}

span.j-undef /* undefined */
{
}

span.j-hl /* highlight */
{
	text-decoration: none;
	background-color: yellow;
}
